In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [2]:
admission_data = pd.read_csv('/home/a/Desktop/admittance.csv')

In [3]:
admission_data

      SAT Admitted
0    1363       No
1    1792      Yes
2    1954      Yes
3    1653       No
4    1593       No
..    ...      ...
163  1722      Yes
164  1750      Yes
165  1555       No
166  1524       No
167  1461       No

[168 rows x 2 columns]

In [4]:
# .map()  mapping function, if you want to apply a formula on a praticular data or column, 
# you can use map function.

In [5]:
admission_data.Admitted.map({'Yes': 1, 'No':0})

0      0
1      1
2      1
3      0
4      0
      ..
163    1
164    1
165    0
166    0
167    0
Name: Admitted, Length: 168, dtype: int64

In [6]:
admission_data.Admitted = admission_data.Admitted.map({'Yes' : 1, 'No' : 0})

In [7]:
x = admission_data.SAT
y = admission_data.Admitted

import statsmodels.api as sm

x = sm.add_constant(x)

logistic_regression = sm.Logit(y, x)
logistic_regression = logistic_regression.fit()
logistic_regression.summary()

Optimization terminated successfully.
         Current function value: 0.137766
         Iterations 10

/home/a/anaconda3/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      166
Method:                           MLE   Df Model:                            1
Date:                Mon, 14 Feb 2022   Pseudo R-squ.:                  0.7992
Time:                        15:50:05   Log-Likelihood:                -23.145
converged:                       True   LL-Null:                       -115.26
Covariance Type:            nonrobust   LLR p-value:                 5.805e-42
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -69.9128     15.737     -4.443      0.000    -100.756     -39.070
SAT            0.0420      0.009      4.454      0.000       0.024       0.060
==============================================================================

Possibly complete quasi-separation: A fraction 0.27 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""